//
// Name:        XY float
// Description: XY is a small and very flexible collection of mixins for
//              building grids based on floating elements
// Version:     1.0.0
//
// Author:      Denis Malinochkin
// GitHub:      https://github.com/mrmlnc/xy-float
//
// twitter:     @mrmlnc
//


//
// Container
//

// Creates a container
xy-make-container(gutter)
  margin-right: auto
  margin-left: auto
  padding-left:  (gutter / 2)
  padding-right: (gutter / 2)

  &:after
    content: ""
    display: table
    clear: both

// Defines of the maximum width for the container
xy-make-container-width(breakpoint, width)
  @media (min-width: breakpoint)
    max-width: width


//
// Row
//

// Creates a row
xy-make-row(gutter)
  margin-left: (gutter / -2)
  margin-right: (gutter / -2)

  &:after
    content: ""
    display: table
    clear: both


//
// Column
//

// Creates a column
xy-make-column(gutter)
  position: relative
  min-height: 1px
  float: left
  width: 100%
  padding-left:  (gutter / 2)
  padding-right: (gutter / 2)

// Defines of the maximum width for the column
xy-make-columns-width(alias, count)
  for index in 1..count
    &-{alias}-{index}
      width: ((index / count) * 100%)

// Defines of offset for the column
xy-make-columns-offset(alias, count)
  for index in 0..count
    &-{alias}-offset-{index}
      margin-left: ((index / count) * 100%)

// Defines of push for the column
xy-make-columns-push(alias, count)
  for index in 0..count
    &-{alias}-push-{index}
      left: (index > 0 ? ((index / count) * 100%) : auto)

// Defines of pull for the column
xy-make-columns-pull(alias, count)
  for index in 0..count
    &-{alias}-pull-{index}
      right: (index > 0 ? ((index / count) * 100%) : auto)


//
// Generator
//

// Generator complete collection of styles for a single alias
xy-make-grid-columns(alias, breakpoint, count = none)
  if count != none
    @media (min-width: breakpoint)
      xy-make-columns-width(alias, count)
      xy-make-columns-offset(alias, count)
      xy-make-columns-push(alias, count)
      xy-make-columns-pull(alias, count)
  else
    count = breakpoint
    xy-make-columns-width(alias, count)
    xy-make-columns-offset(alias, count)
    xy-make-columns-push(alias, count)
    xy-make-columns-pull(alias, count)
